.primaryButton {
    background-color: #75BFAA;
    color: #325249;
    padding: 0.5em 1em;
    font-size: 1.3rem;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-right: 0.3em;
    transition: background-color 0.3s ease;
  }
.secondaryButton {
  background-color: white;
  color: #15231E;
  border: 1px solid #325249;
  padding: 0.5em 1em;
  font-size: 1.3rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 0.3em;
}
.extraButton {
  background-color: #15231E;
  color: white;
  padding: 0em 0.5em ;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 0.3em;

}
.secondaryButton:hover {
  background-color: #E7F4EE;
}
.primaryButton:hover {
  background-color: #8AD8C8;
}
.extraButton:hover {
  background-color: #325249;

}
 